video::-webkit-media-controls-timeline {
  visibility: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(#e66465, #9198e5);
}

.headingText {
  color: white;
  font-size: 28px;
  background-color: black;
  border-radius: 10px;
  padding: 5px 10px;
}

.videoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

.amount-progress {
  --bar-bg: #ffe3d4;
  --seek-before-width: 0;
  --seek-before-color: #ffc2a1;
  --knobby: #3452a5;
  --selectedKnobby: #26c9c3;

  width: 780px;
  cursor: pointer;
  appearance: none;
  background: var(--bar-bg);
  position: relative;
  height: 4px;
  outline: none;
  bottom: 20px;
}

/* progress bar - safari */
.amount-progress::-webkit-slider-runnable-track {
  background: rgba(129, 129, 129, 0.9);
  position: relative;
  height: 4px;
  outline: none;
}

/* progress bar - firefox */
.amount-progress::-moz-range-track {
  background: var(--bar-bg);
  position: relative;
  height: 4px;
  outline: none;
}

.amount-progress::-moz-focus-outer {
  border: 0;
}

/* progress bar - chrome and safari */
.amount-progress::before {
  content: "";
  height: 4px;
  width: var(--seek-before-width);
  background-color: red;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
}

/* progress bar - firefox */
.amount-progress::-moz-range-progress {
  background-color: var(--seek-before-color);
  height: 4px;
}

/* knobby - chrome and safari */
.amount-progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: none;
  background-color: red;
  cursor: pointer;
  position: relative;
  margin: -4px 0 0 0;
  z-index: 3;
  box-sizing: border-box;
}

/* knobby while dragging - chrome and safari */
.amount-progress:active::-webkit-slider-thumb {
  transform: scale(1.2);
  background: white;
}

/* knobby - firefox */
.amount-progress::-moz-range-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: transparent;
  background-color: var(--knobby);
  cursor: pointer;
  position: relative;
  z-index: 3;
  box-sizing: border-box;
}

/* knobby while dragging - firefox */
.amount-progress:active::-moz-range-thumb {
  transform: scale(1.2);
  background: var(--selectedKnobby);
}

.secondVideoElement {
  display: none;
}

.snapshotContainer {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  display: block;
  z-index: 1000;
  width: 150px;
  height: 80px;
  bottom: 50px;
  border: 2px solid white;
}

.snapshotImg {
  width: 100%;
  height: 100%;
}

.snapshotTime {
  color: white;
  font-weight: 600;
  font-size: 12px;
}

input[type="range"]:hover + .snapshotContainer {
  opacity: 1;
  visibility: visible;
}
